@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.refreshBtn {
  background-color: hsla(160, 100%, 37%, 1);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  justify-self: end;
  
}
.refreshBtn:hover {
  background-color: hsla(160, 100%, 37%, 0.8);

}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'header header'
                         'local remote';
    padding: 0 2rem;
  }
  .information {
    grid-area: header;
  }
  .localWeatherContainer {
    grid-area: local;
  }
  .remoteWeatherContainer {
    grid-area: remote;
  }
}
